<!doctype html>

<title>Audiodesc</title>

<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<link rel="icon" href="/static/img/favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Comfortaa">
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">

<style type="text/css">
	video {
	  position: fixed;
	  right: 0;
	  bottom: 0;
	  min-width: 100%; 
	  min-height: 100%;
	}
</style>

<video autoplay playsinline></video>

<script type="text/javascript">

	const constraints = window.constraints = {
	  audio: false,
	  video: true
	};

	function handleSuccess(stream) {
	  const video = document.querySelector('video')
	  const videoTracks = stream.getVideoTracks()
	  window.stream = stream
	  video.srcObject = stream
	}

	document.addEventListener("DOMContentLoaded", ()=>{
		navigator.mediaDevices.getUserMedia(constraints)
			.then( stream => {
			    handleSuccess(stream)
			    err.target.disabled = true;
			})
			.catch( err => {
				console.log(err)
			})
	})


</script>